<body style="background-color: white;">
   
    <main>
        <section id="carrossel" class="banner banner-csgo">
            <div class="container posicionamento-banner">
                <div class="conteudo-banner">
                    <h1>X GAMES</h1>
                    <p>Seu site preferido de notícias do mundo e-sports </p>
                    <a href="#">Inscreva-se</a>
                </div>
            </div>
        </section>
        <section class="jogos">
            <div id="jogos" class="container posicionamento-jogos">
                <img src="/assets/img/valorant.png" alt="Logo do Valorant">
                <img src="/assets/img/starcraft2.png" alt="Logo do starcraft">
                <img src="/assets/img/lol.png" alt="Logo do League of Legends">
                <img src="/assets/img/fifa23.png" alt="Logo do fifa">
                <img src="/assets/img/dota2.png" alt="Logo do Dota">
            </div>
        </section>
        <section class="secao-sobre">
            <div class="container conteudo-sobre">
                <div class="texto-sobre">
                    <h1>Vitality vence IEM Rio 2023</h1>
  <p>O último grande torneio Counter-Strike: Global Offensive terminou,Team Vitality venceu por 2-0 em cima da Heroic.</p>
                </div>
                <img src="/assets/img/champions_vitality.svg" alt="Imagem do campeao do Counter-Strike, time Vitality">
            </div>
        </section>
        <section class="ofertas">
            <div class="container">
                <h2>Ofertas</h2>
                <div class="espaco-produtos">
                    <div class="cardnews">
                        <img src="/assets/img/red_dead_redemption 2.png" alt="Foto da jogadora profissional">
                        <div class="texto-card">
                            <p class="preco">R$xxx,xx</p>
                            <a href="#">Comprar</a>
                        </div>                        
                    </div>
                    <div class="cardnews">
                        <img src="/assets/img/god_of_war.png" alt="Foto da jogadora profissional">
                        <div class="texto-card">
                            <p class="preco">R$xxx,xx</p>
                            <a href="#">Comprar</a>
                        </div>                        
                    </div>
                    <div class="cardnews">
                        <img src="/assets/img/assassins_creed.png" alt="Foto da jogadora profissional">
                        <div class="texto-card">
                            <p class="preco">R$xxx,xx</p>
                            <a href="#">Comprar</a>
                        </div>                        
                    </div>
                </div>
            </div>
        </section>   
        
    </main>
    
  
